@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/mixins/_geometry' as geo
@use '../../../styles/mixins/_text' as text
@use '../../../styles/variables/_colors' as color

.profile__postings_container
    width: 90vw
    min-height: 88.5vh
    margin: 0 auto

    .profile__postings_wrapper
        min-height: 88vh
        width: 70vw
        margin: 20px auto

        @include layout.flex($direction: column)

        h2
            @include text.format-text($size: 30px, $weight: 700, $align: center)
            width: 100%

        .profile__postings_subwrapper
            @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 30px)

            margin: 15px 30px
            position: relative

            .profile__postings_container
                flex-basis: 100%
                width: 90%
                min-height: 20vh
                padding: 40px 20px

                @include geo.border-adjust($px: 3px, $color: color.$orange, $radius: 50px)

                background-color: color.$smoked
                position: relative

                @include layout.flex($gap: 30px)

                .profile__postings_device
                    margin-left: 100px
                    @include layout.flex($direction: column, $content-align: center, $item-align: center)

                    img
                        mix-blend-mode: multiply

                    p
                        @include text.format-text($size: 14px, $weight: 700)

                .profile__postings_personal
                    @include layout.flex($direction: column, $content-align: center, $item-align: center)

                    p
                        width: 25vw

                        strong
                            @include text.format-text($size: 14px, $weight: 700)

                .edit
                    @include geo.button-adjust($top: 20px, $right: 160px, $padding: 16px)
                    @include geo.button-reset($color: color.$orange, $size: 24px)
                    i
                        width: 100%
                        padding: 15px
                        &:hover
                            color: color.$orange
                            transition: color 100ms ease-in

                .delete
                    @include geo.button-adjust($top: 20px, $right: 100px, $padding: 16px)
                    @include geo.button-reset($color: color.$red, $size: 24px)
                    i
                        width: 100%
                        padding: 15px
                        &:hover
                            color: color.$red
                            transition: color 100ms ease-in
