@use '../../../styles/layouts/_flex'
    
.login__container
    @extend %flex-basic

    min-height: 91vh

    form
        display: flex
        flex-direction: column
        gap: 10px
        width: 50%
        margin: 0 auto

    div
        display: flex
        flex-direction: column

    .form__error
        color: red
