<div class="login__container">
	<div class="login__image">
		<img src="../../../assets//login-backdrop.png" alt="" />
	</div>
	<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
		<p class="form__error" style="text-align: center" *ngIf="this.error$ | async">
			Incorrect credentials
		</p>
		<label for="email">Email: </label>
		<input
			class="form__email"
			id="email"
			type="text"
			formControlName="email"
			required
		/>
		<span
			class="form__error"
			*ngIf="email?.invalid && (email?.dirty || email?.touched)"
		>
			<p *ngIf="email?.errors?.['required']">This field is required</p>
			<p *ngIf="email?.errors?.['pattern']">Please enter a valid email address</p>
		</span>

		<label for="password">Password: </label>
		<input
			class="form__password"
			id="password"
			type="password"
			formControlName="password"
			required
		/>
		<span class="form__error" *ngIf="password?.invalid && password?.touched">
			<p *ngIf="password?.errors?.['required']">This field is required</p>
			<p *ngIf="password?.errors?.['pattern']">
				Password must be 8 characters long, contain 1 letter, 1 number and 1 special
				character
			</p>
		</span>
		<button class="form__submit" [disabled]="!this.profileForm.valid">
			Login
		</button>
	</form>
</div>
