@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo

.profile__settings_container
    width: 90vw
    min-height: 90.9vh
    margin: 40px auto 60px auto

    @include layout.flex($item-align: left, $gap: 60px)

    .profile__image
        flex-basis: 50%
        img
            width: 95%

    .profile__form_wrapper
        flex-basis: 25%

        @include layout.flex($direction: column, $content-align: center, $item-align: left, $gap: 50px)
        .profile__settings_left
            margin: 10px 0px

            @include layout.flex($direction: column, $content-align: center, $gap: 20px)

            h3
                @include text.format-text($size: 24px, $weight: 700, $align: left)
                margin: 10px 0px

            input
                padding: 7px 5px
                @include geo.border-adjust($px: 1px, $color: color.$darkBlue, $radius: 10px)
                @include text.format-text($size: 16px)

                background-color: color.$smoked

            label
                margin-bottom: -10px

        .profile__settings_mid
            margin: 10px 0px

            @include layout.flex($direction: column, $content-align: center, $gap: 20px)

            h3
                @include text.format-text($size: 24px, $weight: 700, $align: left)
                margin: 10px 0px

            label
                margin-bottom: -10px

            input
                padding: 7px 5px
                @include geo.border-adjust($px: 1px, $color: color.$darkBlue, $radius: 10px)
                @include text.format-text($size: 16px)

                background-color: color.$smoked

        .profile__settings_right
            margin: 10px 0px

            @include layout.flex($direction: column, $content-align: center, $gap: 20px)

            h3
                @include text.format-text($size: 24px, $weight: 700, $align: left)
                margin: 10px 0px

            input
                padding: 7px 5px
                @include geo.border-adjust($px: 1px, $color: color.$darkBlue, $radius: 10px)
                @include text.format-text($size: 16px)

                background-color: color.$smoked

            label
                margin-bottom: -10px

        .form__changeDetails, .form__changePassword, .form__confirmDelete
            @include text.format-text($size: 16px, $weight: 700, $align: center, $color: color.$darkBlue )
            @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 10px)

            background-color: color.$orange
            padding: 9px 15px

            cursor: pointer
            &:disabled
                background-color: color.$smoked
                color: color.$darkBlue
            &:enabled
                &:hover
                    color: color.$smoked
                    background-color: color.$darkBlue
                    transition: all 350ms ease-in

        .form__confirmDelete
            background-color: color.$crimson
            color: color.$smoked

        .form__error
            color: color.$crimson
