<ng-container>
	<section
		[ngStyle]="{ display: (display$ | async) ? '' : 'none' }"
		class="create__wrapper"
		(click)="close()"
	>
		<div class="create__container">
			<button class="close" type="button" (click)="close()">X</button>
			<div class="create__body" (click)="$event.stopPropagation()">
				<div class="create__search">
					<label for="deviceSearch">Search for Device</label>
					<input #searchInput class="search__input" id="deviceSearch" type="text" />
				</div>
				<div class="create__list">
					<div *ngFor="let device of devices" class="create__block">
						<p>{{ device.deviceName }}</p>
						<img src="{{ device.deviceImage }}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>
</ng-container>
