@use '../../../styles/mixins/_layouts' as layout

.register__container
    @include layout.flex($content-align: center, $item-align: center)

    min-height: 91vh

    form
        @include layout.flex($direction: column, $gap: 10px)
        width: 50%
        margin: 0 auto

    div
        @include layout.flex($direction: column)

        .form__error
            color: red
