@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo

.register__container
    @include layout.flex($content-align: center, $item-align: center)

    min-height: 91vh
    margin-top: -20px

    .register__image
        flex-basis: 50%

        img
            width: 95%

    form
        flex-basis: 25%
        @include layout.flex($direction: column, $gap: 10px)
        margin: 60px 280px 60px auto

        div
            @include layout.flex($direction: column, $gap: 10px)

            .form__error
                color: color.$crimson

            input
                padding: 7px 5px
                @include geo.border-adjust($px: 1px, $color: color.$darkBlue, $radius: 10px)
                @include text.format-text($size: 16px)

                background-color: color.$smoked

        .form__submit
            @include text.format-text($size: 16px, $weight: 700, $align: center, $color: color.$darkBlue )
            @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 10px)

            background-color: color.$orange
            padding: 9px 15px

            cursor: pointer
            &:disabled
                background-color: color.$smoked
            &:enabled
                &:hover
                    color: color.$smoked
                    background-color: color.$darkBlue
                    transition: all 350ms ease-in
