@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color

.home__container
    @include layout.flex()

    min-height: 91vh

    .home__loader
        position: relative
        margin-top: 500px

    .home__main
        flex-basis: 85%

        @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 50px)

        .home__main_container
            @include layout.grid-repeat-columns($pieces: 5, $size: 1fr, $gap: 30px)

            div
                @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 5px)

    .home__aside
        flex-basis: 15%

        @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 50px)

        .home__aside_container
            @include layout.flex($direction: column, $gap: 10px)
