<div class="home__container">
	<main class="home__main">
		<h2>Latest Devices</h2>
		<div class="home__main_container">
			<div *ngFor="let item of latest | async">
				<p>{{ item.deviceName }}</p>
				<img src="{{ item.deviceImage }}" alt="" />
			</div>
		</div>
	</main>
	<aside class="home__aside">
		<h2>Most Popular Devices</h2>
		<div class="home__aside_container">
			<div *ngFor="let item of popular | async">
				<p>Rank: {{ item.rank }}</p>
				<p>Name: {{ item.deviceName }}</p>
				<p>Daily Hits: {{ item.dailyHits }}</p>
			</div>
		</div>
	</aside>
</div>

<ngx-spinner [fullScreen]="false" type="ball-spin">
	<p style="color: white">Loading...</p>
</ngx-spinner>
