@use '../../../styles/mixins/_layouts' as m

footer
    @include m.flex($direction: '', $content-align: space-between, $item-align: center, $gap: 0)

    height: 4vh
    background-color: whitesmoke
    padding: 10px 20px
    box-sizing: border-box
    position: sticky
    bottom: 0
    width: 100vw

    .footer__container
        @include m.flex($direction: '', $content-align: '', $item-align: '', $gap: 30px)

        h3
            font-weight: bold

        .footer__list
            @include m.flex($direction: '', $content-align: '', $item-align: '', $gap: 20px)
