<footer>
	<div class="footer__arrow" (click)="this.scrollToTop()"><i class="fa-solid fa-angles-up"></i></div>
	<div class="footer__wrapper">
		<div class="footer__logo">
			<img routerLink="/" src="../../../assets/footer-logo.png" alt="" />
			<button routerLink="/marketplace">Shop Now</button>
		</div>
		<nav class="footer__nav">
			<h3>Site Map</h3>
			<ul class="footer__nav_list">
				<li routerLink="/">Home</li>
				<li routerLink="/marketplace">Marketplace</li>
				<li routerLink="/devices">Devices</li>
				<li routerLink="/about">About</li>
			</ul>
		</nav>
		<div class="footer__contacts">
			<h3>Contact details</h3>
			<ul class="footer__contacts_list">
				<li>Email: mobispace@support.com</li>
				<li>Phone: +99 123 456 789</li>
				<li>Address: Mobispace Street 77</li>
			</ul>
		</div>
	</div>
</footer>
