@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo
@use '../../../styles/variables/_colors' as color

footer
    @include layout.flex($content-align: left, $item-align: center)
    @include geo.box-sizing-adjust()
    @include text.format-text($size: 14px, $weight: 400, $color: color.$darkBlue )

    width: 100vw
    height: 50vh

    padding: 10px 20px
    background-color: color.$darkBlue
    color: color.$white

    .footer__arrow
        flex-basis: 10%
        margin-left: 50px
        margin-right: -50px
        margin-bottom: -280px
        i

            @include text.format-text($size: 30px, $weight: 700,$color: color.$smoked )
            cursor: pointer
            &:hover
                color: color.$orange

    .footer__wrapper
        flex-basis: 80%
        @include layout.flex($content-align: space-between, $item-align: center, $gap: 120px)

        .footer__logo
            flex-basis: 50%
            margin-bottom: 45px
            @include layout.flex($direction: column, $gap: 20px, $wrap: wrap)

            img

                width: 100%
                cursor: pointer

            button
                width: 90%
                @include text.format-text($size: 18px, $align:center, $weight: 700, $color: color.$darkBlue )
                @include geo.border-adjust($px: 0px, $color: color.$darkBlue, $radius: 10px)
                background-color: color.$orange
                cursor: pointer
                padding: 5px 0px
                width: 100%
                &:hover
                    color: color.$smoked

        .footer__nav
            flex-basis: 30%
            margin-left: 100px
            @include layout.flex($direction: column, $gap: 30px)

            h3
                @include text.format-text($size: 16px, $weight: 700, $align: left, $color: color.$smoked)

            .footer__nav_list
                @include layout.flex($direction: column, $content-align: left, $gap: 20px)

                li
                    @include text.format-text($size: 16px, $color: color.$smoked)

                    cursor: pointer
                    &:hover
                        color: color.$orange

        .footer__contacts
            flex-basis: 30%
            margin-left: -70px
            @include layout.flex($direction: column, $gap: 30px)

            h3
                @include text.format-text($size: 16px, $weight: 700, $align: left, $color: color.$smoked)

            .footer__contacts_list
                @include layout.flex($direction: column, $content-align: left, $gap: 35px)

                li
                    @include text.format-text($size: 16px, $color: color.$smoked)
