<footer>
	<div class="footer__arrow" (click)="this.scrollToTop()">
		<i class="fa-solid fa-angles-up"></i>
	</div>
	<div class="footer__wrapper">
		<div class="footer__logo">
			<img
				(click)="this.logoNavigate()"
				src="../../../assets/footer-logo.png"
				alt=""
			/>
			<button (click)="this.marketNav()">Shop Now</button>
			<button (click)="this.createNav()" class="header__button" *ngIf="this.token">
				Create new ad
			</button>
		</div>
		<nav class="footer__nav">
			<h3>Site Map</h3>
			<ul class="footer__nav_list">
				<li (click)="this.mapNav('/')">Home</li>
				<li (click)="this.mapNav('marketplace')">Marketplace</li>
				<li (click)="this.mapNav('devices')">Devices</li>
				<li (click)="this.mapNav('about')">About</li>
			</ul>
		</nav>
		<div class="footer__contacts">
			<h3>Contact details</h3>
			<ul class="footer__contacts_list">
				<li>Email: mobispace@support.com</li>
				<li>Phone: +99 123 456 789</li>
				<li>Address: Mobispace Street 77</li>
			</ul>
		</div>
	</div>
</footer>
