@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo

.details__wrapper
    @include geo.wrapper()

    .details__container
        @include geo.container($height: 80vh, $width: 60vw)
        @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 50px)

        .close
            @include geo.button-adjust($top: 10px, $left: 20px, $padding: 16px)
            @include geo.button-reset($color: color.$orange, $size: 32px)

            i
                &:hover
                    color: color.$orange
        .details__body
            background-color: white
            flex-basis: 100%
            height: 100%

            @include layout.flex($content-align: center, $item-align: center, $gap: 10px)
            @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 50px)
            @include geo.box-sizing-adjust()

            column-gap: 40px
            padding: 20px

            .details__left
                @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 40px)
                flex-basis: 35%

                .details__left_title
                    @include text.format-text($size: 18px, $weight: 700,$color: color.$darkBlue )

                .details__left_img
                    width: 80%

            .details__right
                flex-basis: 65%
                @include layout.flex($direction: column, $gap: 40px)

                .details__right_title
                    @include text.format-text($size: 16px, $weight: 700,$color: color.$darkBlue )

                .details__right_wrapper
                    height: 42vh
                    overflow: scroll
                    @include layout.flex($direction: column, $gap: 20px)

                    .details__block
                        width: 85%
                        background-color: color.$smoked
                        
                        h6
                            margin-bottom: 5px
                            @include text.format-text($size: 16px, $weight: 700)
                        p
                            margin-bottom: 5px
