@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo

.create__search
    flex-basis: 10%
    margin-bottom: 20px

    @include layout.flex($content-align: center, $item-align: center, $gap: 20px)

    input
        @include text.format-text($size: 18px, $color: color.$darkBlue )
        @include geo.border-adjust($px: 0px, $color: color.$darkBlue, $radius: 10px)

        background-color: color.$smoked
        padding: 5px

        .create__list
        flex-basis: 80%

    @include layout.grid-repeat-columns($pieces: 5, $size: 1fr, $content-align: center, $item-align: center,$gap: 20px)
    height: 70%
    overflow: scroll
    padding: 0px 3px

.create__block
    @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 10px)
    @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 50px)
    padding: 20px 20px

    background-color: color.$smoked
    cursor: pointer

    img
        mix-blend-mode: multiply

    &:hover
        background-color: color.$lightBlue
        transition: all 300ms ease-in

    p
        text-align: center