@use '../../../styles/mixins/_layouts' as m
    
form
    @include m.flex($direction: '', $content-align: center, $item-align: center, $gap: 10px)
    
    margin: 10px auto

    #query
        flex-basis: 70%

    button
        flex-basis: 10%
