@use '../../../styles/mixins/_layouts' as layout

form
    @include layout.flex($content-align: center, $item-align: center, $gap: 10px)

    margin: 10px auto

    #query
        flex-basis: 70%

    button
        flex-basis: 10%
