@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo

.confirm__wrapper
    background-color: color.$smoked
    @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 10px)
    @include geo.box-sizing-adjust()

    .confirm__message
        @include text.format-text($size: 18px)

    .confirm__buttons
        @include layout.flex()

        button
            width: 200px
            @include text.format-text($size: 18px, $weight: 700, $align: center, $color: color.$darkBlue )
            @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 10px)

            color: color.$darkBlue
            background-color: color.$smoked

            padding: 9px 15px
            cursor: pointer

        .confirm__yes
            &:hover
                color: color.$smoked
                background-color: color.$crimson
                transition: all 350ms ease-in
        .confirm__no
            &:hover
                color: color.$darkBlue
                background-color: color.$lightBlue
                transition: all 350ms ease-in
