@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/mixins/_geometry' as geo
@use '../../../styles/variables/_colors' as color

.device__container
    min-height: 86vh

    .devices__list
        width: 80%
        margin: 0px auto 30px auto
        @include layout.grid-repeat-columns($pieces: 4, $size: 1fr, $gap: 30px)

        .devices__list_item
            background-color: color.$smoked
            padding: 45px 20px
            @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 50px)

            @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 10px)

            p
                margin-bottom: 35px

            img
                mix-blend-mode: multiply

    .devices__more
        width: 100%
        margin: 10px auto
