@use '../../../styles/mixins/_layouts' as layout

.device__container
    min-height: 86vh

    .devices__list
        @include layout.grid-repeat-columns($pieces: 4, $size: 1fr)

        .devices__list_item
            border: 1px solid black
            padding: 20px

            @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 10px)

    .devices__more
        width: 100%
        margin: 10px auto
