<main class="device__container">
	<div *ngIf="this.data" class="devices__list">
		<div *ngFor="let device of data" class="devices__list_item">
			<p>{{ device.deviceName }}</p>
			<img
				(click)="showDetails(device.deviceKey)"
				src="{{ device.deviceImage }}"
				alt=""
			/>
		</div>
	</div>
	<div *ngIf="this.data?.length === 0" class="devices__list">
		<p>Your search brought back no results</p>
	</div>
	<div
		*ngIf="this.data && this.data.length > 18"
		(click)="loadMore()"
		class="devices__more"
	>
		<i class="fa-solid fa-angle-down"></i>
	</div>
</main>
