@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/mixins/_geometry' as geo

.details__wrapper
    @include geo.wrapper()

    .details__container
        @include geo.container($height: 80vh, $width: 50vw)

        .close
            @include geo.button-adjust($top: 0, $left: 0, $padding: 16px)

        .edit
            @include geo.button-adjust($top: 0, $right: 80px, $padding: 16px)

        .delete
            @include geo.button-adjust($top: 0, $right: 0, $padding: 16px)

        .details__body
            background-color: white
            flex-basis: 100%
            height: 100%

            @include layout.flex($content-align: center, $item-align: center, $gap: 10px)
            column-gap: 40px
            padding: 20px

            .details__left
                flex-basis: 40%

                @include layout.flex($direction: column, $content-align: center, $item-align: center, $gap: 20px, $wrap: wrap)

                img
                    width: 80%
                    height: 100%

            .details__right
                flex-basis: 60%

                @include layout.flex($direction: column, $gap: 20px, $wrap: wrap)

                .details__block
                    border: 1px solid black

                .details__input
                    @include layout.flex($direction: column, $wrap: wrap)

                    input
                        border: 1px solid blue
                        flex-basis: 100%
