<header>
	<div class="header__logo">
		<img src="../../../assets/header-logo.png" alt="" routerLink="/" />
	</div>
	<nav>
		<ul>
			<li><button routerLink="/create" class="header__button" *ngIf="this.token">Create new ad</button></li>

			<li>
				<a routerLink="/"><i class="fa-solid fa-house"></i></a>
			</li>
			<li>
				<a routerLink="/marketplace"><i class="fa-solid fa-shop"></i></a>
			</li>
			<li>
				<a routerLink="/devices"><i class="fa-solid fa-mobile-screen"></i></a>
			</li>
			<li class="header__login_nav" *ngIf="!this.token">
				<a routerLink="/login"
					><i class="fa-solid fa-arrow-right-to-bracket"></i
				></a>
			</li>
			<li class="header__register_nav" *ngIf="!this.token">
				<a routerLink="/register"><i class="fa-solid fa-registered"></i></a>
			</li>
			<li class="header__postings" *ngIf="this.token">
				<a routerLink="/profile/postings"><i class="fa-solid fa-user"></i></a>
			</li>
			<li class="header__settings" *ngIf="this.token">
				<a routerLink="/profile/settings"><i class="fa-solid fa-gear"></i></a>
			</li>
			<li class="header__logout_nav" *ngIf="this.token" (click)="logout()">
				<a routerLink="/"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
			</li>
			<li>
				<a routerLink="/faq"> <i class="fa-solid fa-circle-info"></i></a>
			</li>
		</ul>
	</nav>
</header>
