<header>
	<div class="header__logo">
		<img src="../../../assets/header-logo.png" alt="" routerLink="/" />
	</div>
	<nav>
		<ul>
			<li>
				<a routerLink="/"><i class="fa-solid fa-house"></i></a>
			</li>
			<li>
				<a routerLink="/marketplace"><i class="fa-solid fa-shop"></i></a>
			</li>
			<li>
				<a routerLink="/devices"><i class="fa-solid fa-mobile-screen"></i></a>
			</li>
			<li>
				<a routerLink="/about"> <i class="fa-solid fa-circle-info"></i></a>
			</li>
			<li class="header__login_nav" *ngIf="!this.token">
				<a routerLink="/login"
					><i class="fa-solid fa-arrow-right-to-bracket"></i
				></a>
			</li>
			<li class="header__register_nav" *ngIf="!this.token">
				<a routerLink="/register"><i class="fa-solid fa-registered"></i></a>
			</li>
			<li
				class="header__dropdown"
				(mouseover)="openDropDown()"
				(mouseleave)="closeDropDown()"
				*ngIf="this.token"
			>
				<a href="javascript:void(0)">My Profile</a>
				<ul #dropdown class="dropdown dropdown__hide">
					<li>
						<a routerLink="/profile/postings">My Postings</a>
					</li>
					<li>
						<a routerLink="/profile/settings">My Settings</a>
					</li>
				</ul>
			</li>
			<li class="header__logout_nav" *ngIf="this.token" (click)="logout()">
				<a routerLink="/">Logout</a>
			</li>
		</ul>
	</nav>
</header>
