@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo

header
    @include layout.flex($content-align: space-between, $item-align: center)
    @include geo.box-sizing-adjust()
    background-color: color.$smoked

    height: 7vh
    width: 100vw

    position: sticky
    top: 0
    padding: 10px 20px
    z-index: 5

    .header__logo
        img
            width: 15%
            cursor: pointer

    nav
        ul
            flex-basis: 70%

            @include layout.flex($content-align: space-evenly, $item-align: right)
            column-gap: 30px
            list-style-type: none

            li
                a
                    @include text.format-link($color: color.$darkBlue)
                    @include text.format-text($size: 26px, $weight: 400, $color: color.$darkBlue )

                    i
                        &:hover
                            color: color.$orange
                            transition: all 150ms ease-in
