@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo
@use '../../../styles/extend/_gradients'

header
    @include layout.flex($content-align: space-between, $item-align: center)
    @include geo.box-sizing-adjust()
    background-color: color.$smoked

    height: 10vh
    width: 100vw

    position: sticky
    top: 0
    padding: 10px 20px
    z-index: 50

    .header__logo
        img
            width: 25%
            cursor: pointer
            margin-left: 11%

    nav
        margin-right: 6%
        ul
            flex-basis: 70%

            @include layout.flex($content-align: space-evenly, $item-align: right)
            column-gap: 30px
            list-style-type: none

            li
                @include layout.flex($content-align: center, $item-align: center)
                
                .header__button
                    width: 200px
                    @include text.format-text($size: 18px, $weight: 700, $align: center, $color: color.$darkBlue )
                    @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 10px)

                    @extend %orange-gradient
                    padding: 9px 15px

                    cursor: pointer            
                    &:hover
                        color: color.$smoked
                        @extend %blue-gradient
                        transition: background 350ms ease-in

                a
                    @include text.format-link($color: color.$darkBlue)
                    @include text.format-text($size: 26px, $weight: 400, $color: color.$darkBlue )

                    i
                        &:hover
                            color: color.$orange
                            transition: all 150ms ease-in
