<ng-container *ngIf="display$ | async as display">
	<section class="details__wrapper" (click)="close()">
		<div class="details__container">
			<button class="close" type="button" (click)="close()">X</button>
			<button
				*ngIf="this.validatedUser?.email === this.details!.User?.email"
				class="edit"
				type="button"
				(click)="emitEdit()"
			>
				Edit
			</button>
			<button
				*ngIf="this.validatedUser?.email === this.details!.User?.email"
				class="delete"
				type="button"
				(click)="emitDelete()"
			>
				Delete
			</button>
			<div class="details__body" (click)="$event.stopPropagation()">
				<div class="details__left">
					<p>{{ this.details!.Device!.deviceName }}</p>
					<img src="{{ this.details!.Device!.deviceImage }}" alt="" />
					<div class="details__seller">
						<p>
							Seller Name: {{ this.details!.User!.firstName }}
							{{ this.details!.User!.lastName }}
						</p>
						<p>Seller City: {{ this.details!.User!.city }}</p>
						<p>Seller Phone: {{ this.details!.User!.phone }}</p>
					</div>
				</div>
				<div class="details__right">
					<p>Brief Details</p>
					<div
						*ngIf="
							this.details!.Device!.display ||
							this.details!.Device!.size ||
							this.details!.Device!.resolution
						"
						class="details__block"
					>
						<p *ngIf="this.details!.Device!.display">
							Display Type: {{ this.details!.Device!.display }}
						</p>
						<p *ngIf="this.details!.Device!.size">
							Display Size: {{ this.details!.Device!.size }}
						</p>
						<p *ngIf="this.details!.Device!.resolution">
							Resolution: {{ this.details!.Device!.resolution }}
						</p>
					</div>
					<div
						*ngIf="
							this.details!.Device!.cameraMain ||
							this.details!.Device!.videoMain ||
							this.details!.Device!.cameraSelfie ||
							this.details!.Device!.videoSelfie
						"
						class="details__block"
					>
						<p *ngIf="this.details!.Device!.cameraMain">
							Rear Camera: {{ this.details!.Device!.cameraMain }}
						</p>
						<p *ngIf="this.details!.Device!.videoMain">
							Rear Camera Video: {{ this.details!.Device!.videoMain }}
						</p>
						<p *ngIf="this.details!.Device!.cameraSelfie">
							Front Camera: {{ this.details!.Device!.cameraSelfie }}
						</p>
						<p *ngIf="this.details!.Device!.videoSelfie">
							Front Camera Video: {{ this.details!.Device!.videoSelfie }}
						</p>
					</div>
					<div
						*ngIf="
							this.details!.Device!.dimensions ||
							this.details!.Device!.weight ||
							this.details!.Device!.build
						"
						class="details__block"
					>
						<p *ngIf="this.details!.Device!.dimensions">
							Body Size: {{ this.details!.Device!.dimensions }}
						</p>
						<p *ngIf="this.details!.Device!.weight">
							Weight: {{ this.details!.Device!.weight }}
						</p>
						<p *ngIf="this.details!.Device!.build">
							Build: {{ this.details!.Device!.build }}
						</p>
					</div>
					<div
						*ngIf="
							this.details!.Device!.cardSlot ||
							this.details!.Device!.internalStorage ||
							this.details!.Device!.sim
						"
						class="details__block"
					>
						<p *ngIf="this.details!.Device!.cardSlot">
							Card Slot: {{ this.details!.Device!.cardSlot }}
						</p>
						<p *ngIf="this.details!.Device!.internalStorage">
							Internal Storage: {{ this.details!.Device!.internalStorage }}
						</p>
						<p *ngIf="this.details!.Device!.sim">
							Sim: {{ this.details!.Device!.sim }}
						</p>
					</div>
					<div
						*ngIf="
							this.details!.Device!.batteryType || this.details!.Device!.batteryCharge
						"
						class="details__block"
					>
						<p *ngIf="this.details!.Device!.batteryType">
							Battery Type: {{ this.details!.Device!.batteryType }}
						</p>
						<p *ngIf="this.details!.Device!.batteryCharge">
							Battery Charge: {{ this.details!.Device!.batteryCharge }}
						</p>
					</div>
					<div
						*ngIf="this.validatedUser?.email !== this.details!.User?.email"
						class="details__block"
					>
						<p>Seller Comments: {{ this.details!.comments }}</p>
						<p>Price: {{ this.details!.price }} EUR</p>
					</div>
					<div
						*ngIf="this.validatedUser?.email === this.details!.User?.email"
						class="details__input"
					>
						<input
							#comments
							type="text"
							name="comments"
							[defaultValue]="this.details!.comments"
						/>
						<input
							#price
							type="text"
							name="price"
							[defaultValue]="this.details!.price"
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
</ng-container>
