<header>
	<h1>Mobispace - A Smart Mobile Marketplace</h1>
	<nav>
		<ul>
			<li><a routerLink="/">Home</a></li>
			<li><a routerLink="/search">Marketplace</a></li>
			<li><a routerLink="/devices">Devices</a></li>
			<li><a routerLink="/about"> About</a></li>
			<li *ngIf="!this.auth"><a routerLink="/login">Login</a></li>
			<li *ngIf="!this.auth"><a routerLink="/register">Register</a></li>
			<li *ngIf="this.auth">
				<a routerLink="/profile">My Profile</a>
			</li>
			<li *ngIf="this.auth" (click)="logout()">
				<a routerLink="/">Logout</a>
			</li>
		</ul>
	</nav>
</header>
