<app-search
	(search)="this.searchPostings($event)"
	(create)="this.openCreateModal()"
></app-search>
<app-list
	[postings]="this.postings"
	(requestMore)="this.loadMorePostings()"
	(requestDetails)="this.fetchPostingDetails($event)"
></app-list>
<app-create
	[user]="this.user"
	[devices]="this.devices"
	[deviceDetails]="this.deviceDetails"
	(requestDeviceList)="this.fetchDeviceList($event)"
	(requestDeviceDetails)="this.fetchDeviceDetails($event)"
	(clearDetails)="this.clearDetails()"
	(createPosting)="this.createPosting($event)"
></app-create>
<app-details
	[details]="this.postingDetails"
	[validatedUser]="this.validatedUser"
></app-details>
