@use '../../../styles/mixins/_layouts' as layout
@use '../../../styles/variables/_colors' as color
@use '../../../styles/mixins/_text' as text
@use '../../../styles/mixins/_geometry' as geo

.search__wrapper
    width: 80%
    margin: 30px auto
    @include layout.flex($content-align: center, $item-align: center, $gap: 20px)

    .search__input
        flex-basis: 76%

        @include text.format-text($size: 18px, $weight: 400, $color: color.$darkBlue )
        @include geo.border-adjust($px: 0px, $color: color.$darkBlue, $radius: 10px)
        

        background-color: color.$smoked
        padding: 5px

    .search__create
        @include text.format-text($size: 16px, $weight: 700, $align: center, $color: color.$darkBlue )
        @include geo.border-adjust($px: 0px, $color: color.$white, $radius: 10px)
        
        background-color: color.$orange
        padding: 6px 15px

        flex-basis: 24%
        margin: 0 auto

        cursor: pointer
        &:hover
            color: color.$smoked
            background-color: color.$darkBlue
            transition: all 350ms ease-in
