@use '../../../styles/mixins/_layouts' as layout

.search__wrapper
    @include layout.flex($content-align: center, $item-align: center, $gap: 20px)

    .search__input
        flex-basis: 70%
        margin: 10px 20px

    .search__create
        flex-basis: 20%

        margin: 0 auto
