<ng-container>
	<section
		[ngStyle]="{ display: (display$ | async) ? '' : 'none' }"
		class="create__wrapper"
		(click)="close()"
	>
		<div class="create__container">
			<button class="close" type="button" (click)="close()">X</button>
			<div class="create__body" (click)="$event.stopPropagation()">
				<div class="create__search">
					<label for="deviceSearch">Search for Device</label>
					<input
						#searchInput
						class="search__input"
						name="deviceSearch"
						type="text"
					/>
				</div>
				<div *ngIf="!(this.deviceDetails$ | async)" class="create__list">
					<div
						*ngFor="let device of devices$ | async"
						class="create__block"
						(click)="openCreate(device.deviceKey)"
					>
						<p>{{ device.deviceName }}</p>
						<img src="{{ device.deviceImage }}" alt="" />
					</div>
				</div>
				<div *ngIf="this.deviceDetails$ | async" class="create__details">
					<div class="details__leftBlock">
						<p>{{ (this.deviceDetails$ | async)!.deviceName }}</p>
						<div class="details__image">
							<img src="{{ (this.deviceDetails$ | async)!.deviceImage }}" alt="" />
						</div>
						<div class="details__user">
							<h6>Personal and Contact Details</h6>
							<p>
								Full Name: {{ (this.user$ | async)!.firstName }}
								{{ (this.user$ | async)!.lastName }}
							</p>
							<p>Email: {{ (this.user$ | async)!.email }}</p>
							<p>Phone: {{ (this.user$ | async)!.phone }}</p>
						</div>
					</div>

					<div class="details__middleBlock">
						<table class="details__table">
							<tbody class="table__body">
								<tr class="table__row">
									<td class="table__leadRow">Display</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.display">
											<span style="font-weight: bold">Display:</span>
											{{ (this.deviceDetails$ | async)!.display }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.size">
											<span style="font-weight: bold">Size:</span>
											{{ (this.deviceDetails$ | async)!.size }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.resolution">
											<span style="font-weight: bold">Resolution:</span>
											{{ (this.deviceDetails$ | async)!.resolution }}
										</p>
									</td>
								</tr>
								<tr class="table__row">
									<td class="table__leadRow">Cameras</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.cameraMain">
											<span style="font-weight: bold">Rear Camera:</span>
											{{ (this.deviceDetails$ | async)!.cameraMain }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.videoMain">
											<span style="font-weight: bold">Rear Camera Video:</span>
											{{ (this.deviceDetails$ | async)!.videoMain }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.cameraSelfie">
											<span style="font-weight: bold">Front Camera:</span>
											{{ (this.deviceDetails$ | async)!.cameraSelfie }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.videoSelfie">
											<span style="font-weight: bold">Front Camera Video:</span>
											{{ (this.deviceDetails$ | async)!.videoSelfie }}
										</p>
									</td>
								</tr>
								<tr class="table__row">
									<td class="table__leadRow">Hardware</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.chipset">
											<span style="font-weight: bold">Chipset:</span>
											{{ (this.deviceDetails$ | async)!.chipset }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.os">
											<span style="font-weight: bold">OS:</span>
											{{ (this.deviceDetails$ | async)!.os }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.cpu">
											<span style="font-weight: bold">CPU:</span>
											{{ (this.deviceDetails$ | async)!.cpu }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.gpu">
											<span style="font-weight: bold">GPU:</span>
											{{ (this.deviceDetails$ | async)!.gpu }}
										</p>
									</td>
								</tr>
								<tr class="table__row">
									<td class="table__leadRow">Body</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.dimensions">
											<span style="font-weight: bold">Size:</span>
											{{ (this.deviceDetails$ | async)!.dimensions }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.weight">
											<span style="font-weight: bold">Weight:</span>
											{{ (this.deviceDetails$ | async)!.weight }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.build">
											<span style="font-weight: bold">Build:</span>
											{{ (this.deviceDetails$ | async)!.build }}
										</p>
									</td>
								</tr>
								<tr class="table__row">
									<td class="table__leadRow">Battery</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.batteryType">
											<span style="font-weight: bold">Type:</span>
											{{ (this.deviceDetails$ | async)!.batteryType }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.batteryCharge">
											<span style="font-weight: bold">Charge:</span>
											{{ (this.deviceDetails$ | async)!.batteryCharge }}
										</p>
									</td>
								</tr>
								<tr class="table__row">
									<td class="table__leadRow">Storage & Sim</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.cardSlot">
											<span style="font-weight: bold">Card Slot:</span>
											{{ (this.deviceDetails$ | async)!.cardSlot }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.internalStorage">
											<span style="font-weight: bold">Internal Storage:</span>
											{{ (this.deviceDetails$ | async)!.internalStorage }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.sim">
											<span style="font-weight: bold">Sim:</span>
											{{ (this.deviceDetails$ | async)!.sim }}
										</p>
									</td>
								</tr>
								<tr class="table__row">
									<td class="table__leadRow">Features</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.connectivity">
											<span style="font-weight: bold">Connectivity:</span>
											{{ (this.deviceDetails$ | async)!.connectivity }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.jack">
											<span style="font-weight: bold">3.5mm Jack:</span>
											{{ (this.deviceDetails$ | async)!.jack }}
										</p>
										<p *ngIf="(this.deviceDetails$ | async)!.features">
											<span style="font-weight: bold">Others:</span>
											{{ (this.deviceDetails$ | async)!.features }}
										</p>
									</td>
								</tr>
								<tr class="table__row">
									<td class="table__leadRow">Distribution</td>
									<td class="table__data">
										<p *ngIf="(this.deviceDetails$ | async)!.launchDate">
											<span style="font-weight: bold">Release Date:</span>
											{{ (this.deviceDetails$ | async)!.launchDate }}
										</p>
									</td>
								</tr>
							</tbody>

							<tbody></tbody>
						</table>
					</div>
					<div class="details__rightBlock">
						<form
							[formGroup]="postingForm"
							(ngSubmit)="sendPosting()"
						>
							<label for="comments">Comments about your device</label>
							<textarea
								name="comments"
								id=""
								cols="30"
								rows="10"
								formControlName="comments"
							></textarea>
							<label for="price">Sell Price</label>
							<input type="number" name="price" formControlName="price" />
							<button [disabled]="!this.postingForm.valid">Create Posting</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</ng-container>
