<div class="faq__wrapper">
	<div class="faq__container">
		<h2>Frequently Asked Questions</h2>
		<div class="faq__block">
			<h6>Q: Is registering on the platform free?</h6>
			<p>
				Yes. Mobispace does not charge its users any fees or ongoing costs for usage
				of the platform.
			</p>
		</div>
		<div class="faq__block">
			<h6>Can I post ads on the platform if I'm not a registered user?</h6>
			<p>
				No. Posting ads on the marketplace requires users to be registered and
				logged in. Additional functionality will unlock once the user is logged in.
			</p>
		</div>
		<div class="faq__block">
			<h6>Is there a limit to how many ads I can post at any one time?</h6>
			<p>
				No. There is no limit on how many ads can be posted by a single user at any
				given time, but ads that get reported as fake or spam will be removed.
			</p>
		</div>
		<div class="faq__block">
			<h6>Am I allowed to contact sellers if I'm not a registered user?</h6>
			<p>Absolutely. You can contact sellers without being registered.</p>
		</div>
		<div class="faq__block">
			<h6>How can I change my account information and settings?</h6>
			<p>
				Once logged in, you can click on the gear icon to access your personal
				information. You are able to change your personal details from there.
			</p>
		</div>
		<div class="faq__block">
			<h6>
				I have come across fake or misleading ads on the marketplace. What do I do?
			</h6>
			<p>
				Please contact us via our official channels and we will investigate
				accordingly.
			</p>
		</div>
		<div class="faq__block">
			<h6>
				Does the platform offer any monetary services or transactions of any kind?
			</h6>
			<p>
				No. Mobispace does not handle any payments, transactions or other
				operations.
			</p>
		</div>
		<div class="faq__block">
			<h6>Can I delete my account?</h6>
			<p>
				Yes. You can delete your account via the gear icon menu once logged in. Do
				take note that once deleted, this cannot be reversed and all posted ads on
				the marketplace will be deleted as well.
			</p>
		</div>
		<div class="faq__block">
			<p class="faq__info">Don't see what you're looking for? Contact us!</p>
		</div>
	</div>
</div>
