<app-search
	[user$]="this.user$"
	(search)="this.searchPostings($event)"
></app-search>
<app-list
	[postings$]="this.postings$"
	(requestMore)="this.loadMorePostings()"
	(requestDetails)="this.fetchPostingDetails($event)"
></app-list>
<app-details
	[details$]="this.postingDetails$"
	[validatedUser$]="this.validatedUser$"
	(editPosting)="this.editPosting($event)"
	(deletePosting)="this.deletePosting($event)"
></app-details>
<ngx-spinner [fullScreen]="true" type="ball-spin">
	<p style="color: white">Loading...</p>
</ngx-spinner>
