@mixin flex($direction:row, $content-align:'', $item-align:'', $gap:0, $wrap:'')
    display: flex
    flex-direction: $direction
    justify-content: $content-align
    align-items: $item-align
    gap: $gap
    flex-wrap: $wrap

@mixin grid-repeat-columns($pieces, $size, $gap:0)
    display: grid   
    grid-template-columns: repeat($pieces, $size)
    gap: $gap
