<ng-container *ngIf="display$ | async as display">
	<section class="details__wrapper" (click)="close()">
		<div *ngIf="(this.details$ | async)!.id as id" class="details__container">
			<button class="close" type="button" (click)="close()">X</button>
			<button class="edit" type="button" (click)="emitEdit(id)">Edit</button>
			<button class="delete" type="button" (click)="emitDelete(id)">Delete</button>
			<div class="details__body" (click)="$event.stopPropagation()">
				<div class="details__left">
					<p>{{ (this.details$ | async)!.Device!.deviceName }}</p>
					<img src="{{ (this.details$ | async)!.Device!.deviceImage }}" alt="" />
					<div class="details__seller">
						<p>
							Seller Name: {{ (this.details$ | async)!.User!.firstName }}
							{{ (this.details$ | async)!.User!.lastName }}
						</p>
						<p>Seller City: {{ (this.details$ | async)!.User!.city }}</p>
						<p>Seller Phone: {{ (this.details$ | async)!.User!.phone }}</p>
					</div>
				</div>
				<div class="details__right">
					<p>Brief Details</p>
					<div
						*ngIf="
							(this.details$ | async)!.Device!.display ||
							(this.details$ | async)!.Device!.size ||
							(this.details$ | async)!.Device!.resolution
						"
						class="details__block"
					>
						<p *ngIf="(this.details$ | async)!.Device!.display">
							Display Type: {{ (this.details$ | async)!.Device!.display }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.size">
							Display Size: {{ (this.details$ | async)!.Device!.size }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.resolution">
							Resolution: {{ (this.details$ | async)!.Device!.resolution }}
						</p>
					</div>
					<div
						*ngIf="
							(this.details$ | async)!.Device!.cameraMain ||
							(this.details$ | async)!.Device!.videoMain ||
							(this.details$ | async)!.Device!.cameraSelfie ||
							(this.details$ | async)!.Device!.videoSelfie
						"
						class="details__block"
					>
						<p *ngIf="(this.details$ | async)!.Device!.cameraMain">
							Rear Camera: {{ (this.details$ | async)!.Device!.cameraMain }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.videoMain">
							Rear Camera Video: {{ (this.details$ | async)!.Device!.videoMain }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.cameraSelfie">
							Front Camera: {{ (this.details$ | async)!.Device!.cameraSelfie }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.videoSelfie">
							Front Camera Video: {{ (this.details$ | async)!.Device!.videoSelfie }}
						</p>
					</div>
					<div
						*ngIf="
							(this.details$ | async)!.Device!.dimensions ||
							(this.details$ | async)!.Device!.weight ||
							(this.details$ | async)!.Device!.build
						"
						class="details__block"
					>
						<p *ngIf="(this.details$ | async)!.Device!.dimensions">
							Body Size: {{ (this.details$ | async)!.Device!.dimensions }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.weight">
							Weight: {{ (this.details$ | async)!.Device!.weight }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.build">
							Build: {{ (this.details$ | async)!.Device!.build }}
						</p>
					</div>
					<div
						*ngIf="
							(this.details$ | async)!.Device!.cardSlot ||
							(this.details$ | async)!.Device!.internalStorage ||
							(this.details$ | async)!.Device!.sim
						"
						class="details__block"
					>
						<p *ngIf="(this.details$ | async)!.Device!.cardSlot">
							Card Slot: {{ (this.details$ | async)!.Device!.cardSlot }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.internalStorage">
							Internal Storage: {{ (this.details$ | async)!.Device!.internalStorage }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.sim">
							Sim: {{ (this.details$ | async)!.Device!.sim }}
						</p>
					</div>
					<div
						*ngIf="
							(this.details$ | async)!.Device!.batteryType ||
							(this.details$ | async)!.Device!.batteryCharge
						"
						class="details__block"
					>
						<p *ngIf="(this.details$ | async)!.Device!.batteryType">
							Battery Type: {{ (this.details$ | async)!.Device!.batteryType }}
						</p>
						<p *ngIf="(this.details$ | async)!.Device!.batteryCharge">
							Battery Charge: {{ (this.details$ | async)!.Device!.batteryCharge }}
						</p>
					</div>

					<div class="details__input">
						<input
							#comments
							type="text"
							name="comments"
							class="details__input_comments"
							[defaultValue]="(this.details$ | async)!.comments"
						/>
						<input
							#price
							type="text"
							name="price"
							class="details__input_price"
							[defaultValue]="(this.details$ | async)!.price"
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
</ng-container>
